table {
    width:30%;
    background-color: #AED6F1 ;
}
button {
    width: 100%;
    font-size: 150%;
    ;
}
.ac {
    
    background-color: red;
}

.op {
    background-color: #F8C471;
}

.colorR{
    background-color: #3498DB;
}

.colorIgual{
    background-color: #F7DC6F ;
}